*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
body{
    background-image: url(Hack.png);
    background-size: cover;
    color: chartreuse;
}

.main__text{
    text-align: center;
    color: chartreuse;
    font-size: 36px;
    font-weight: bold;
    font-style: inherit;
    margin-top: 40px;
}
.block{
    display: flex;
    gap: 40px;
    margin-left: 40px;
    margin-top: 200px;

}
.block__label__one{
    border: 1px solid chartreuse;
    width: 30%;
    border-radius: 20px;
}
.block__footor{
    border: 1px solid cornflowerblue;
    font-size: 24px;
    text-align: center;
    background: cornflowerblue;
    width: 40%;
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 30%;
}
.Position{
    width: 30%;
    height: 200px;
}
.Position__blog{
    border-radius: 50%;
    border: 1px solid coral;
    width: 80%;
    height: 50%;
    margin-top: 70px;
    margin-left: 170px;
    text-align: center;
    font-size: 55px;
    padding-top: 15px;
    background-image: url(Fon.png);
}
.Position__blog:hover{
    border: 1px solid red;
}